body {
    display: flex;	
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.column-left {
    flex: 1;
    background-color: #00bbd6;
	color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    margin-right: 0px;
    height: 100vh;
}

.column-right {
    flex: 3;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 100vh;
}

/* Position the LYLA icon on the chat header */
.icon-lyla {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

/* Position the user icon on the left of the chat message */
.icon-user {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.chat-header {
	background-color: #00bbd6;

	padding: 1rem;
}

.chat-header h1 {
	margin: 0;
	font-size: 2rem;
}

.chat-body {
	flex: 1;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	padding-bottom:-120px;
}

.message {
	margin-bottom: 1rem;
	max-width: 80%;
	padding: 1rem;
	border-radius: 0.5rem;
}

.lyla-message {
	display:flex;
	align-self: flex-start;
}

.lyla-message-icon {
	flex:1;
	vertical-align:middle;
}

.lyla-message-content {
	flex:3;
	background-color: #f5f5f5;
	padding:0px 14px;
	margin-left:20px;
	border-radius:30px;
}

.user-message {
	display:relative;
	align-self: flex-end;
	color: #fff;
}

.user-message-icon {
	display:inline;
	float:right;
	vertical-align:middle;
}

.user-message-content {
	display:inline;
	background-color: #00bbd6;
	float:left;
	padding:0px 14px;
	margin-right:20px;
	border-radius:30px;
}


.chat-footer {
	display: flex;
	bottom: 0px;
	background-color: #f5f5f5;	
	padding: 20px;
}

.chat-footer form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  width:85%

}

.chat-footer input[type="text"] {
	width: 80%;	
	flex: 1;
	border: none;
	border-radius: 0.5rem;
	margin-right: 0.5rem;
	height:40px;
	outline: none;
	font-size: 16px;
	padding: 10px;
	border-radius: 30px;

}

.chat-footer button[type="submit"] {
	border: none;
	background-color: #00bbd6;
	color: #fff;
	cursor: pointer;
	border: none;
	color: #fff;
	font-size: 16px;
	padding: 10px 20px;
	border-radius: 30px;
	cursor: pointer;
	margin-left: 10px;
	
}

.chat-footer button[type="submit"]:hover {
	background-color: #fff;
	color:#00bbd6;
}
