<!DOCTYPE html>
<html>
<head>
    <title>Lyla: Your Local Travel Companion</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
	<section class="column-left">
        <div class="upper-nav">          

        </div>
        
        
        
        <div class="chat-header">
            <h1>Lyla is your personal travel companion</h1>
            <p>Lyla helps you enjoy a seamless travel expereince through:</p>
            <ul>
                <li>Create itinerary with planned activities and reservations</li>
                <li>Travel packing checklist with recommended items</li>
                <li>24/7 Instant support throughout your trip</li>                
                <li>Travel journal with entries and photos from the trip</li>               
            </ul>
        </div>
		<nav class="nav_list">
            <div><button value="Signup">Signup</button></div>
            <div><button value="Login">Login</button></div>
            <div><button value="Settings">Settings</button></div>
        </nav>
        <div>
            <p>Made with ❤️‍ by Lyla Inc.</p>
        </div>
		
	</section>
	<section class="column-right">

        <div class="chat-body" id="chat-body">
            <div class="message lyla-message">
					<div class="lyla-message-icon">
						<img src="{{ url_for('static', filename='lyla.png') }}" alt="LYLA icon">
					</div>
					
					<div class="lyla-message-content">
						<p>Hi, I'm Lyla, your personal travel companion. Welcome to our travel companion chatbot. Our AI companion is here to make your travel experience seamless and enjoyable. Let's get started!</p>
					</div>
            </div>
        </div>
        <div class="chat-footer">
            <form id="chat-form">
                <input type="text" name="message" placeholder="Type your message...">
                <button type="submit">Send</button>
            </form>
        </div>
	</section>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
