<!DOCTYPE html>
<html>
    <head>
        <title>Accommodation Search</title>
    </head>
    <body>
        <h1>Accommodation Search</h1>
        <form action="/book-accommodation" method="POST">
            <label for="location">Location:</label>
            <input type="text" id="location" name="location"><br><br>
            <label for="checkin_date">Check-in Date:</label>
            <input type="date" id="checkin_date" name="checkin_date"><br><br>
            <label for="checkout_date">Check-out Date:</label>
            <input type="date" id="checkout_date" name="checkout_date"><br><br>
            <label for="guests">Guests:</label>
            <input type="number" id="guests" name="guests"><br><br>
            <button type="submit">Search</button>
        </form>
    </body>
</html>